html
  head
    h1= pageTitle
    p
      a(href='/') Home
    p
      a(href='/about') About
    p
      a(href='/projects') Projects
  body
    block page
    footer 
      p= 'Copyright ' + new Date().getFullYear()